.App {
  text-align: center;
}

body {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track); /* Firefox */
}

body::-webkit-scrollbar-track {
  background: var(--scrollbar-track); /* Цвет трека */
  border-radius: 4px !important;
}

body::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb); /* Цвет ползунка */
}


body::-webkit-scrollbar-width {
  width: var(--scrollbar-width); /* Цвет ползунка */
}

/* Светлая тема */
body.light-theme {
  --scrollbar-track: #e7e7e7; 
  --scrollbar-thumb: #c1c1c1;
  --sender-bg: #F5F5F5;
}

/* Тёмная тема */
body.dark-theme {
  --scrollbar-track: #494a4b; 
  --scrollbar-thumb: #2b2b2b;
  --sender-bg: #2b2b2b;
}


.ant-sender {
  background: var(--sender-bg); /* Фон, зависящий от темы */
}

.ant-sender-actions-btn-loading-icon {
  color: #8bc43b !important;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
